<html>
  <head>
  	
  </head>
  <body>
    <center><form method="GET" action="/home"><input type="submit" value="Voltar"></form></center>
  	<h2><center>Listando repositórios da linguagem <%= lang = params['repo'] %></h2>

    <center>
      <table class='repos_table'>
        <% repositories.each do |repository| %>
          <tr>
            <td>Nome do Repositório: </td>
            <td><%= repository.name %></td>
            <td>
              <form method='GET' action="/detalhes/<%= repository.id %>">
                <input type='submit' value='Detalhes'>
              </form> 
               
            </td> 
          </tr>
        <% end %>

      </table>
    </center>

    
  </body>
</html>