<html>
  <head>
  	<script src="tests.js" type="text/javascript">
		</script>
		<link rel="stylesheet" href="tests.css" type="text/css" /> 
  </head>
  <body>
    <form method="GET" action="/home"><input type="submit" value="Voltar"></form>
  	<h2><center>Listando repositórios da linguagem <%= lang = params['repo'] %></h2>


    <table class='repos_table'>
      <% repositorios.each do |repo| %>
        <tr>
          <td>Nome do Repositório: </td>
          <td><%= repo[:name] %></td>
          <td>
            <form method='GET' action="/detalhes/<%= repo[:id] %>">
              <input type='submit' value='Detalhes'>
            </form> 
             
          </td> 
        </tr>
      <% end %>

    </table>

    
  </body>
</html>